
@require './material-colors.styl'

fill()
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.root
  fill()

codemirror-theme()
  .cm-header
    color $indigo500
  .cm-quote
    color $green500
  .cm-negative
    color $red500
  .cm-positive
    color $green500

  .cm-keyword
    color $purple500
  .cm-atom
    color $indigo500
  .cm-number
    color $cyan700
  .cm-def
    color $blueA700

  .cm-variable-2
    color $blue700
  .cm-variable-3
    color $teal600
  .cm-comment
    color $grey600
  .cm-string
    color $brown500
  .cm-string-2
    color $brown500
  .cm-error
  .cm-invalidchar
    color $red500


.editor
  :global
    .CodeMirror
      fill()
      height auto
      font-family Roboto Mono, Menlo, Consolas, monospace
      font-size 0.9rem
      line-height 1.3rem
      .CodeMirror-gutters
        border-color darken(#F5F4F3, 10%)
        background lighten(#F5F4F3, 40%)
      codemirror-theme()

:global #wonderstudio
  .CodeMirror-Tern-tooltip
    font-family: Source Sans Pro, sans-serif
    a
      color $indigo500
      text-decoration none
    .CodeMirror-Tern-farg-current
      text-decoration none
      font-weight bold
  .CodeEditor-error
    background $red100 !important

.cover
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index 5
  pointer-events none
  background darken(#f5f4f3, 40%)
  transition 0.2s opacity
  opacity 0
  &.isVisible
    opacity 0.4
