
.field
  box-sizing border-box
  background white
  border 1px solid darken(#F5F4F3, 20%)
  box-shadow 0 1px 1px darken(#F5F4F3, 10%)
  border-radius 5px

.input
  composes field
  width 100%
  padding 2px 4px
