
.fieldGroup
  margin 8px 0 4px
  padding 0 12px
  position relative
  &.withTitle
    padding-left 128px
  &.withTitle.isWide
    padding-left 12px
    padding-top 24px

.fieldGroupTitle
  position absolute
  top 5px
  left 12px
  width 110px
  font-size 0.8em
  color darken(#F5F4F3, 64%)

.input
  composes input from './common.styl'

.checkbox
  position relative

.checkboxInput
  composes field from './common.styl'
  appearance none
  width 24px
  height 24px
  cursor pointer
  &:checked
    background darken(#F5F4F3, 64%)

.checkmark
  display none
  position absolute
  pointer-events none
  color white
  top 5px
  left 4px

.checkboxInput:checked + .checkmark
  display block

.textarea
  composes input
  height 7em
