
.fieldGroup
  margin 4px 0
  padding 0 12px
  position relative
  &.withTitle
    padding-left 128px
  &.withTitle.isWide
    padding-left 12px
    padding-top 24px

.fieldGroupTitle
  position absolute
  top 5px
  left 12px
  width 110px
  font-size 0.8em
  color darken(#F5F4F3, 64%)

.input
  composes input from './common.styl'

.textarea
  composes input
  height 7em
