
.fieldGroup
  margin 4px 0
  padding 0 12px
  position relative
  &.withTitle
    padding-left 128px
  &.withTitle.isWide
    padding-left 12px
    padding-top 24px

.fieldGroupTitle
  position absolute
  top 5px
  left 12px
  width 110px
  font-size 0.8em
  color darken(#F5F4F3, 64%)

.input
  box-sizing border-box
  width 100%
  background white
  border 1px solid darken(#F5F4F3, 20%)
  box-shadow 0 1px 1px darken(#F5F4F3, 10%)
  border-radius 5px
  padding 2px 4px

.textarea
  composes input
  height 7em
