.root
  display block

.listItem
  display block
  line-height 3rem
  padding 0 12px
  text-decoration none
  color darken(#f5f4f3, 64%)
  border-bottom 1px solid darken(#f5f4f3, 10%)
  &:hover
    background white
