
.root
.bar
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.bar
  display flex
  align-items center
  padding 0 8px

.button
  margin 0 8px
  padding 7px 15px
  background darken(#F5F4F3, 5%)
  border 1px solid darken(#F5F4F3, 30%)
  color darken(#F5F4F3, 64%)
  border-radius 30px
  transition 0.2s all
  &:hover
    background white
    border 1px solid darken(#F5F4F3, 40%)
    color darken(#F5F4F3, 50%)
  &:disabled
    opacity 0.5
    pointer-events none

.playIcon
  font-size 85%
  position relative
  display inline-block
  top -1px
  margin-right 3px

.spacer
  flex 1
