
.root
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display flex
  align-items center
  padding 0 8px

.button
  margin 0 8px
  padding 7px 15px
  background darken(#F5F4F3, 5%)
  border 1px solid darken(#F5F4F3, 30%)
  color darken(#F5F4F3, 64%)
  border-radius 30px
  &:hover
    background white
    border 1px solid darken(#F5F4F3, 40%)
    color darken(#F5F4F3, 50%)

.playIcon
  font-size 85%
  position relative
  display inline-block
  top -1px
  margin-right 3px
