
$title-bar-height = 2rem
$app-width = 360px
$name-width = 120px
$left-width = $app-width + $name-width

.root
  composes appBackground from '../styles/app.styl'
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.title
  background #3580DA
  color white
  padding 0 0.7rem
  height $title-bar-height
  line-height $title-bar-height

.appTitle
  > em
    font-style normal
    opacity 0.8
  > span
    opacity 0.5

.middle
  position absolute
  top $title-bar-height
  right 0
  bottom 0
  left 0

.left
  position absolute
  top 0
  width $left-width
  bottom 0
  left 0

.right
  position absolute
  background white
  top 0
  right 0
  bottom 0
  left $left-width
