.root
  display block
  position relative
  height 235px
  width 560px

.content
  position relative

.text
  padding-left 192px


.url
.yay
  padding 16px 16px 0

.yay
  text-align center

.urlInput
  composes input from './common.styl'
  margin-top 4px

.qr
  position absolute
  top 0
  left 0
  width 192px
  text-align center
  border-right 1px solid darken(#e5e4e3, 10%)
  > img
    display block
