
.appBackground
  background #F5F4F3

.font
  font-family Roboto, sans-serif

.sectionHeader
  margin 12px 0 8px
  padding 4px 16px
  background darken(#F5F4F3, 10%)
  font-weight bold
  font-size 0.9em
  color darken(#F5F4F3, 64%)
